@{
    Layout = "";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Contract/CTS010/CTS010_03.js")"></script>
<div id="divInstrumentDetail" class="main-table">
    <div class="table-header">
        @Resources.CTS010.lblInstrumentDetail
    </div>
    <div class="usr-row">
        <div id="gridInstrumentDetail" style="width:99%;margin-left:4px;"></div>
    </div>
    <div class="usr-clear-style">&nbsp;</div>
</div>