@using SECOM_AJIS.Common.Helpers
@{
    Layout = "";

    ViewBag.LabelCol1Width = "190px";
    ViewBag.ObjectCol1Width = "225px";
    ViewBag.LabelCol2Width = "190px";
    ViewBag.ObjectCol2Width = "225px";
    ViewBag.ObjectColMergeWidth = "630px";
    ViewBag.isViewMode = true;
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Quotation/QUS012/QUS012_06.js")"></script>
<div class="main-table">
    <div class="table-header">
        @Resources.QUS012.lblInstrumentDetailALBefore
        <div class="table-remark"><img src="../../Content/images/icon/star.png"/>@Resources.QUS012.lblNecessary</div>
    </div>
    <div class="usr-row">
        <div id="gridInstrumentDetailBefore" style="width:835px;margin-left:4px;"></div>
    </div>
    <div class="usr-clear-style">&nbsp;</div>
</div>