<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="ERDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.ExchangeRate.csdl|res://*/SECOM_AJIS.Entity.ExchangeRate.ssdl|res://*/SECOM_AJIS.Entity.ExchangeRate.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STSY-000002;initial catalog=SECOM_AJIS_TEST;persist security info=True;user id=sims;password=sims_sims2016;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ERDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.ExchangeRate.csdl|res://*/SECOM_AJIS.Entity.ExchangeRate.ssdl|res://*/SECOM_AJIS.Entity.ExchangeRate.msl;;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLPOOL01SVR\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;user id=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>