<div id="divAttachedDoclist" class="sub-table" >
    <div class="table-sub-header">@Resources.CTS350.lblAttachedDocumentList</div>
    <div class="usr-row">
        <div class="usr-label" style="width:220px;">&nbsp;</div>
        <div style="float:left;">
            <div id="CTS350_gridAttachDocList" style="width:400px;"></div>
        </div>
    </div>

    <div id="divAttachFile">
        <div class="usr-row usr-row-space">
            <iframe width="100%" height="25px" marginwidth="0" marginheight="0" id="frmAttach"
                    vspace="0" hspace="0" frameborder="0" align="middle" scrolling="no"></iframe>
        </div>

        <div class="usr-row">
            <div class="usr-label" style="width:220px;">&nbsp;</div>
            <div style="font-size: 0.8em; color: rgb(119, 119, 119);">
                @Resources.CTS350.lblPleasePayAttention
            </div>
            <div style="font-size: 0.8em; color: rgb(119, 119, 119);">
                    @Resources.CTS350.lblRemarkAttachFileSize
                </div>
        </div>
    </div>

<div class="usr-clear-style">&nbsp;</div>
</div>