@using SECOM_AJIS.Common.Helpers;
@{
    ViewBag.ScreenID = null;
    ViewBag.ScreenCode = null;
    ViewBag.ScreenName = null;    
}
<div class="main-table-home">
    <div class="usr-row">
        @*<div class="usr-object" style="width: 950px; margin-right: 30px;">
            @ViewBag.News
        </div>*@
        <div class="usr-object" style="padding-left: 1000px;">
            <img alt="" id="systemlogo" src = "@Url.Content("~/Content/images/SECOM_Rpt-Logo.png")" />
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
</div>

