@using SECOM_AJIS.Presentation.Installation.Helpers;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Contract.Helpers;

<!-- ======== Html content ======== --->

@{
    ViewBag.POlbWidth = "180px";
    ViewBag.POControlWidth = "300px"; 
 }
@* --- Contract Information ---  *@

<div id="divInstallationInstrumentInfo" class="main-table" style="margin-top:5px;">
<div class="usr-row">
        <div class="table-header" style="width:@ViewBag.ObjectColMergeWidth;">
           
                @Resources.ISS070.lblInstrument
            
        </div>
        <div class="usr-object" style="width:@ViewBag.headText; background-color:@ViewBag.txtBackgroundColor;">
        
        </div>
    </div>  
   
    <div class="usr-row">
            <div id="gridInstrumentInfo" >
            </div>
        </div>
    <br />    

    <div class="usr-row"></div>
    <div class="usr-row"></div>
    <div class="usr-row"></div>
 
</div>



