@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Common.Util.ConstantValue;


 <div class="main-table">
    <div class="table-header">
        @Resources.CMS200.lblSection_ContractBillingInfo
    </div>
    <div> <!--- ================Grid Contract-Billing transfer information ================== --->
        <div id="mygrid_ContractBilling" style="width: 99%; margin-left: 4px;">
        </div>
    </div>

    <div class="usr-clear-style">&nbsp;</div>
</div>