<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ICDataEntities" 
         connectionString="metadata=res://*/SECOM_AJIS.Entity.Income.csdl|res://*/SECOM_AJIS.Entity.Income.ssdl|res://*/SECOM_AJIS.Entity.Income.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;
         data source=SQLPOOL01SVR\SQL2014;
         Initial Catalog=SECOM_SIMS_INDO;
         Persist Security Info=True;
         user id=SECOM_SIMS_INDO;
         password=SQL@dm1n;
         MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>