<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwExceptions="true" internalLogFile="${basedir}/App_Data/nlog.txt" internalLogLevel="Debug"
      internalLogToConsole="true">

  <targets>
    <target name="databaselog" type="Database">

      <dbProvider>sqlserver</dbProvider>

      <!-- database connection parameters -->
      <!-- alternatively you could provide a single 'connectionstring' parameter -->

      <!--default-->
      <!--<connectionString>data source=192.168.118.12;initial catalog=SECOM_AJIS_UAT_CUST;persist security info=True;user id=sa;password=SQL@dm1n;multipleactiveresultsets=True;</connectionString>-->
      <connectionString>data source=STSY-000002;initial catalog=SECOM_AJIS_TEST;persist security info=True;user id=sims;password=sims_sims2016;multipleactiveresultsets=True;</connectionString>

      <commandText>
        INSERT INTO tbt_ErrorLog([ErrorDescription], [ErrorSourceDetail], [CreateDate], [CreateBy])
        VALUES (@ErrorDescription, @ErrorSourceDetail, @CreateDate, @UserID)
      </commandText>
      <parameter name="@ErrorDescription" layout="${event-context:item=ErrorDescription}"/>
      <parameter name="@ErrorSourceDetail" layout="${exception:stacktrace}"/>
      <parameter name="@CreateDate" layout="${event-context:item=CreateDate}"/>
      <parameter name="@CreateBy" layout="SYSTEM"/>
      <parameter name="@UserID" layout="${event-context:item=UserID}"/>

    </target>

    <target name="f" type="File" FileName="d:\\nlog.log" layout="${longdate} ${message} ${exception:format=tostring}"/>
    <!--
    <target type="EventLog" name="eventlog" layout="${date} - ${message}" log="Application" source="SECOM-AJIS"/>
    -->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="databaselog" />

  </rules>
</nlog>
