<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>

    <!-- ********************************* 1. Common Module ********************************* -->

    <!-- 1.1 BatchProcessHandler -->
    <component id="Common-BatchProcessHandler"
           service="SECOM_AJIS.DataEntity.Common.IBatchProcessHandler, SECOM_AJIS.Interface.Common"
           type="SECOM_AJIS.DataEntity.Common.BatchProcessHandler, SECOM_AJIS.DataEntity.Common"
           lifestyle="transient"/>

    <!-- 1.2 CommonHandler -->
    <component id="Common-CommonHandler"
               service="SECOM_AJIS.DataEntity.Common.ICommonHandler, SECOM_AJIS.Interface.Common"
               type="SECOM_AJIS.DataEntity.Common.CommonHandler, SECOM_AJIS.DataEntity.Common"
               lifestyle="transient"/>

    <!-- 1.3 LogHandler-->
    <component id="Common-LogHandler"
           service="SECOM_AJIS.DataEntity.Common.ILogHandler, SECOM_AJIS.Interface.Common"
           type="SECOM_AJIS.DataEntity.Common.LogHandler, SECOM_AJIS.DataEntity.Common"
           lifestyle="transient"/>

    <!-- 1.4 DocumentHandler-->
    <component id="Common-DocumentHandler"
           service="SECOM_AJIS.DataEntity.Common.IDocumentHandler, SECOM_AJIS.Interface.Common"
           type="SECOM_AJIS.DataEntity.Common.DocumentHandler, SECOM_AJIS.DataEntity.Common"
           lifestyle="transient"/>

    <component id="Common-TransDataHandler"
       service="SECOM_AJIS.DataEntity.Common.ITransDataHandler, SECOM_AJIS.Interface.Common"
       type="SECOM_AJIS.DataEntity.Common.TransDataHandler, SECOM_AJIS.DataEntity.Common"
       lifestyle="transient"/>

    <component id="Common-LoginHandler"
       service="SECOM_AJIS.DataEntity.Common.ILoginHandler, SECOM_AJIS.Interface.Common"
       type="SECOM_AJIS.DataEntity.Common.LoginHandler, SECOM_AJIS.DataEntity.Common"
       lifestyle="transient"/>


    <!-- ********************************* 2. Master Module ********************************* -->

    <!-- 2.1 AutoCompleteHandler -->
    <component id="Master-AutoCompleteHandler"
               service="SECOM_AJIS.DataEntity.Master.IAutoCompleteHandler, SECOM_AJIS.Interface.Master"
               type="SECOM_AJIS.DataEntity.Master.AutoCompleteHandler, SECOM_AJIS.DataEntity.Master"
               lifestyle="transient"/>

    <!-- 2.2 BillingMasterHandler -->
    <component id="Master-BillingMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.IBillingMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.BillingMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>

    <!-- 2.x BillingClientMasterHandler -->
    <component id="Master-BillingClientMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.IBillingClientMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.BillingClientMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>

    <!-- 2.3 CustomerMasterHandler -->
    <component id="Master-CustomerMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.ICustomerMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.CustomerMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>


    <!-- 2.4 EmployeeMasterHandler -->
    <component id="Master-EmployeeMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.IEmployeeMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.EmployeeMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>

    <!-- 2.5 GroupMasterHandler -->
    <component id="Master-GroupMasterHandler"
               service="SECOM_AJIS.DataEntity.Master.IGroupMasterHandler, SECOM_AJIS.Interface.Master"
               type="SECOM_AJIS.DataEntity.Master.GroupMasterHandler, SECOM_AJIS.DataEntity.Master"
               lifestyle="transient"/>


    <!-- 2.6 InstrumentMasterHandler -->
    <component id="Master-InstrumentMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.IInstrumentMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.InstrumentMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>


    <!-- 2.x MasterHandler -->
    <component id="Master-MasterHandler"
           service="SECOM_AJIS.DataEntity.Master.IMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.MasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>

    <!-- 2.x OfficeMasterHandler -->
    <component id="Master-OfficeMasterHandler"
          service="SECOM_AJIS.DataEntity.Master.IOfficeMasterHandler, SECOM_AJIS.Interface.Master"
          type="SECOM_AJIS.DataEntity.Master.OfficeMasterHandler, SECOM_AJIS.DataEntity.Master"
          lifestyle="transient"/>

    <!-- 2.x PermissionMasterHandler -->
    <component id="Master-PermissionMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.IPermissionMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.PermissionMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>



    <!-- 2.x SiteMasterHandler -->
    <component id="Master-SiteMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.ISiteMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.SiteMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>

    <!-- 2.x SupplierMasterHandler -->
    <component id="Master-SupplierMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.ISupplierMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.SupplierMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>

    <!-- 2.x UserHandler -->
    <component id="Master-UserHandler"
              service="SECOM_AJIS.DataEntity.Master.IUserHandler, SECOM_AJIS.Interface.Master"
              type="SECOM_AJIS.DataEntity.Master.UserHandler, SECOM_AJIS.DataEntity.Master"
              lifestyle="transient"/>

    <!-- 2.x ProductMasterHandler -->
    <component id="Master-ProductMasterHandler"
          service="SECOM_AJIS.DataEntity.Master.IProductMasterHandler, SECOM_AJIS.Interface.Master"
          type="SECOM_AJIS.DataEntity.Master.ProductMasterHandler, SECOM_AJIS.DataEntity.Master"
          lifestyle="transient"/>

    <!-- 2.x SubcontractorMasterHandler -->
    <component id="Master-SubcontractorMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.ISubcontractorMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.SubcontractorMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>

    <!-- 2.x ShelfMasterHandler -->
    <component id="Master-SafetyStockMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.ISafetyStockMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.SafetyStockMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>

    <!-- 2.x ShelfMasterHandler -->
    <component id="Master-ShelfMasterHandler"
           service="SECOM_AJIS.DataEntity.Master.IShelfMasterHandler, SECOM_AJIS.Interface.Master"
           type="SECOM_AJIS.DataEntity.Master.ShelfMasterHandler, SECOM_AJIS.DataEntity.Master"
           lifestyle="transient"/>

    <!-- ********************************* 3. Contract Module ********************************* -->
    <!-- 3.1 ApprovalPermissionHandler -->
    <component id="Contract-ApprovalPermissionHandler"
            service="SECOM_AJIS.DataEntity.Contract.IApprovalPermissionHandler, SECOM_AJIS.Interface.Contract"
            type="SECOM_AJIS.DataEntity.Contract.ApprovalPermissionHandler, SECOM_AJIS.DataEntity.Contract"
            lifestyle="transient"/>

    <!-- 3.2 ARHandler -->
    <component id="Contract-ARHandler"
            service="SECOM_AJIS.DataEntity.Contract.IARHandler, SECOM_AJIS.Interface.Contract"
            type="SECOM_AJIS.DataEntity.Contract.ARHandler, SECOM_AJIS.DataEntity.Contract"
            lifestyle="transient"/>

    <!-- 3.3 BillingInterfaceHandler -->
    <component id="Contract-BillingInterfaceHandler"
        service="SECOM_AJIS.DataEntity.Contract.IBillingInterfaceHandler, SECOM_AJIS.Interface.Contract"
        type="SECOM_AJIS.DataEntity.Contract.BillingInterfaceHandler, SECOM_AJIS.DataEntity.Contract"
        lifestyle="transient"/>

    <!-- 3.4 BillingTempHandler -->
    <component id="Contract-BillingTempHandler"
        service="SECOM_AJIS.DataEntity.Contract.IBillingTempHandler, SECOM_AJIS.Interface.Contract"
        type="SECOM_AJIS.DataEntity.Contract.BillingTempHandler, SECOM_AJIS.DataEntity.Contract"
        lifestyle="transient"/>

    <!-- 3.5 CommonContractHandler -->
    <component id="Contract-CommonContractHandler"
        service="SECOM_AJIS.DataEntity.Contract.ICommonContractHandler, SECOM_AJIS.Interface.Contract"
        type="SECOM_AJIS.DataEntity.Contract.CommonContractHandler, SECOM_AJIS.DataEntity.Contract"
        lifestyle="transient"/>

    <!-- 3.6 ContractDocumentHandler -->
    <component id="Contract-ContractDocumentHandler"
        service="SECOM_AJIS.DataEntity.Contract.IContractDocumentHandler, SECOM_AJIS.Interface.Contract"
        type="SECOM_AJIS.DataEntity.Contract.ContractDocumentHandler, SECOM_AJIS.DataEntity.Contract"
        lifestyle="transient"/>

    <!-- 3.7 ContractHandler -->
    <component id="Contract-ContractHandler"
        service="SECOM_AJIS.DataEntity.Contract.IContractHandler, SECOM_AJIS.Interface.Contract"
        type="SECOM_AJIS.DataEntity.Contract.ContractHandler, SECOM_AJIS.DataEntity.Contract"
        lifestyle="transient"/>

    <!-- 3.8 DraftContractHandler -->
    <component id="Contract-DraftContractHandler"
            service="SECOM_AJIS.DataEntity.Contract.IDraftContractHandler, SECOM_AJIS.Interface.Contract"
            type="SECOM_AJIS.DataEntity.Contract.DraftContractHandler, SECOM_AJIS.DataEntity.Contract"
            lifestyle="transient"/>

    <!-- 3.9 DraftRentalContractHandler -->
    <component id="Contract-DraftRentalContractHandler"
            service="SECOM_AJIS.DataEntity.Contract.IDraftRentalContractHandler, SECOM_AJIS.Interface.Contract"
            type="SECOM_AJIS.DataEntity.Contract.DraftRentalContractHandler, SECOM_AJIS.DataEntity.Contract"
            lifestyle="transient"/>

    <!-- 3.10 DraftSaleContractHandler -->
    <component id="Contract-DraftSaleContractHandler"
            service="SECOM_AJIS.DataEntity.Contract.IDraftSaleContractHandler, SECOM_AJIS.Interface.Contract"
            type="SECOM_AJIS.DataEntity.Contract.DraftSaleContractHandler, SECOM_AJIS.DataEntity.Contract"
            lifestyle="transient"/>

    <!-- 3.11 IncidentHandler -->
    <component id="Contract-IncidentHandler"
            service="SECOM_AJIS.DataEntity.Contract.IIncidentHandler, SECOM_AJIS.Interface.Contract"
            type="SECOM_AJIS.DataEntity.Contract.IncidentHandler, SECOM_AJIS.DataEntity.Contract"
            lifestyle="transient"/>
    <!-- 3.12 InstallationInterfaceHandler -->
    <!-- 3.13 InventoryInterfaceHandler -->

    <!-- 3.14 MaintenanceHandler -->
    <component id="Contract-MaintenanceHandler"
            service="SECOM_AJIS.DataEntity.Contract.IMaintenanceHandler, SECOM_AJIS.Interface.Contract"
            type="SECOM_AJIS.DataEntity.Contract.MaintenanceHandler, SECOM_AJIS.DataEntity.Contract"
            lifestyle="transient"/>

    <!-- 3.15 ProjectHandler -->
    <component id="Contract-ProjectHandler"
              service="SECOM_AJIS.DataEntity.Contract.IProjectHandler, SECOM_AJIS.Interface.Contract"
              type="SECOM_AJIS.DataEntity.Contract.ProjectHandler, SECOM_AJIS.DataEntity.Contract"
              lifestyle="transient"/>
    <!-- 3.16 RentalContractHandler -->
    <component id="Contract-RentralContractHandler"
             service="SECOM_AJIS.DataEntity.Contract.IRentralContractHandler, SECOM_AJIS.Interface.Contract"
             type="SECOM_AJIS.DataEntity.Contract.RentralContractHandler, SECOM_AJIS.DataEntity.Contract"
             lifestyle="transient"/>

    <!-- 3.17 ReportHandler -->
    <component id="Contract-ReportHandler"
             service="SECOM_AJIS.DataEntity.Contract.IReportHandler, SECOM_AJIS.Interface.Contract"
             type="SECOM_AJIS.DataEntity.Contract.ReportHandler, SECOM_AJIS.DataEntity.Contract"
             lifestyle="transient"/>

    <!-- 3.18 SaleContractHandler -->
    <component id="Contract-SaleContractHandler"
            service="SECOM_AJIS.DataEntity.Contract.ISaleContractHandler, SECOM_AJIS.Interface.Contract"
            type="SECOM_AJIS.DataEntity.Contract.SaleContractHandler, SECOM_AJIS.DataEntity.Contract"
            lifestyle="transient"/>

    <!-- 3.19 UserControlHandler -->
    <component id="Contract-UserControlHandler"
              service="SECOM_AJIS.DataEntity.Contract.IUserControlHandler, SECOM_AJIS.Interface.Contract"
              type="SECOM_AJIS.DataEntity.Contract.UserControlHandler, SECOM_AJIS.DataEntity.Contract"
              lifestyle="transient"/>

    <!-- 3.20 ViewContractHandler -->
    <component id="Contract-ViewContractHandler"
              service="SECOM_AJIS.DataEntity.Contract.IViewContractHandler, SECOM_AJIS.Interface.Contract"
              type="SECOM_AJIS.DataEntity.Contract.ViewContractHandler, SECOM_AJIS.DataEntity.Contract"
              lifestyle="transient"/>




    <!-- ********************************* 4. Quotation Module ********************************* -->

    <!-- 4.x QuotationHandler -->
    <component id="Quotation-QuotationHandler"
               service="SECOM_AJIS.DataEntity.Quotation.IQuotationHandler, SECOM_AJIS.Interface.Quotation"
               type="SECOM_AJIS.DataEntity.Quotation.QuotationHandler, SECOM_AJIS.DataEntity.Quotation"
               lifestyle="transient"/>



    <!-- ********************************* 5. Misc (for test) ********************************* -->
    <!--
    <component id="TestClientJa"
               service="ModuleA.IClientJa,InModuleA"
               type="ModuleA.BizModuleAModel,DaModuleA"
               lifestyle="transient">
    </component>
    <component id="TestModuleB"
               service="ModuleB.IModuleB,InModuleB"
               type="ModuleB.BizData1Entities,DaModuleB"
               lifestyle="transient">
    </component>
    <component id="TestModuleC"
               service="ModuleC.IModuleC,InModuleC"
               type="ModuleC.BizData1Entities,DaModuleC"
               lifestyle="transient">
    </component>
    -->
    <!-- ********************************* 6. Installation Module ********************************* -->
    <component id="Installation-InstallationHandler"
               service="SECOM_AJIS.DataEntity.Installation.IInstallationHandler, SECOM_AJIS.Interface.Installation"
               type="SECOM_AJIS.DataEntity.Installation.InstallationHandler, SECOM_AJIS.DataEntity.Installation"
               lifestyle="transient"/>

    <component id="Installation-ReportHandler"
               service="SECOM_AJIS.DataEntity.Installation.IReportHandler, SECOM_AJIS.Interface.Installation"
               type="SECOM_AJIS.DataEntity.Installation.ReportHandler, SECOM_AJIS.DataEntity.Installation"
               lifestyle="transient"/>

	<component id="Installation-InstallationDocumentHandler"
               service="SECOM_AJIS.DataEntity.Installation.IInstallationDocumentHandler, SECOM_AJIS.Interface.Installation"
               type="SECOM_AJIS.DataEntity.Installation.InstallationDocumentHandler, SECOM_AJIS.DataEntity.Installation"
               lifestyle="transient"/>
    <!-- ********************************* 7. Inventory Module ********************************* -->
    <component id="Inventory-InventoryHandler"
               service="SECOM_AJIS.DataEntity.Inventory.IInventoryHandler, SECOM_AJIS.Interface.Inventory"
               type="SECOM_AJIS.DataEntity.Inventory.InventoryHandler, SECOM_AJIS.DataEntity.Inventory"
               lifestyle="transient"/>

    <component id="Inventory-InventoryDocumentHandler"
               service="SECOM_AJIS.DataEntity.Inventory.IInventoryDocumentHandler, SECOM_AJIS.Interface.Inventory"
               type="SECOM_AJIS.DataEntity.Inventory.InventoryDocumentHandler, SECOM_AJIS.DataEntity.Inventory"
               lifestyle="transient"/>
    
    <!-- ********************************* 8. Billing Module ********************************* -->
    <component id="Billing-BillingHandler"
               service="SECOM_AJIS.DataEntity.Billing.IBillingHandler, SECOM_AJIS.Interface.Billing"
               type="SECOM_AJIS.DataEntity.Billing.BillingHandler, SECOM_AJIS.DataEntity.Billing"
               lifestyle="transient"/>
    <component id="Billing-ViewBillingHandler"
               service="SECOM_AJIS.DataEntity.Billing.IViewBillingHandler, SECOM_AJIS.Interface.Billing"
               type="SECOM_AJIS.DataEntity.Billing.ViewBillingHandler, SECOM_AJIS.DataEntity.Billing"
               lifestyle="transient"/>
    <component id="Billing-BillingDocumentHandler"
               service="SECOM_AJIS.DataEntity.Billing.IBillingDocumentHandler, SECOM_AJIS.Interface.Billing"
               type="SECOM_AJIS.DataEntity.Billing.BillingDocumentHandler, SECOM_AJIS.DataEntity.Billing"
               lifestyle="transient"/>

    <!-- ********************************* 9. Income Module ********************************* -->
    <component id="Income-IncomeHandler"
               service="SECOM_AJIS.DataEntity.Income.IIncomeHandler, SECOM_AJIS.Interface.Income"
               type="SECOM_AJIS.DataEntity.Income.IncomeHandler, SECOM_AJIS.DataEntity.Income"
               lifestyle="transient"/>
    <component id="Income-IncomeDocumentHandler"
               service="SECOM_AJIS.DataEntity.Income.IIncomeDocumentHandler, SECOM_AJIS.Interface.Income"
               type="SECOM_AJIS.DataEntity.Income.IncomeDocumentHandler, SECOM_AJIS.DataEntity.Income"
               lifestyle="transient"/>
  </components>
</castle>