<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" />
    <!-- The following section is necessary iff targeting .NET 3.5.  It is incompatible with .NET 4.0.
    <section name="uri" type="System.Configuration.UriSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--send email process-->
    <add key="UseGmailSmtp" value="1" />
    <!--<add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />-->
    <add key="SmtpHost" value="192.168.11.12"/>
    <add key="SmtpPort" value="25"/>
    <add key="AuthenticateUserName" value="secomajis@gmail.com" />
    <add key="AuthenticatePassword" value="secomp@$$w0rd" />
    <!--<add key="UseGmailSmtp" value="0"/>
    <add key="SmtpHost" value="192.168.11.12"/>
    <add key="SmtpPort" value="25"/>
    <add key="AuthenticateUserName" value="nontawat@csithai.com"/>
    <add key="AuthenticatePassword" value=""/>
    <add key="SECOM_SENDER" value="99901@secom.co.th" />
    <add key="SECOM_SENDER_ALIAS" value="SECOM_AJIS" />-->
    <!--Foxit Reader-->
    <!-- 2016.06 modify tanaka start -->
    <add key="PrintPDFFoxit" value="C:\Users\Public\temp\SECOM_AJIS_VS2015_MVC5.2\SECOM_AJIS\DLL\FoxitReaderPortable\FoxitReaderPortable.exe" />
    <!--<add key="PrintPDFFoxit" value="D:\Foxit\DLL\FoxitReaderPortable\FoxitReaderPortable.exe"/>-->
    <!-- 2016.06 modify tanaka end -->
    <add key="PrinterName" value="FX DocumentCentre 286 PCL 6" />
    <add key="PrintTimeOut" value="60000" />
    <!--Path Util-->
    <!-- 2016.06 modify tanaka start -->
    <add key="RootPath" value="C:\development\SECOM_AJIS\FileServer\" />
    <add key="GeneratedReportPath" value="SECOM_SharePath\GeneratedReport\" />
    <add key="ReportTempatePath" value="SECOM_SharePath\ReportTemplate\" />
    <add key="ImageSignaturePath" value="SECOM_SharePath\Image\Signature\" />
    <add key="PaymentDataFile" value="SECOM_SharePath\PaymentDataFile\" />
    <add key="AutoTransferFile" value="SECOM_SharePath\AutoTransferFile\" />
    <add key="AttachFilePath" value="SECOM_SharePath\AttachedFile\Actual\" />
    <add key="TemporaryAttachFilePath" value="SECOM_SharePath\AttachedFile\TemporaryAttachFilePath\" />
    <add key="TemporaryPath" value="C:\development\SECOM_AJIS\FileServer\TEMP\" />
    <!--<add key="RootPath" value="\\192.168.11.81\FileServer\"/>
    <add key="GeneratedReportPath" value="SECOM_SharePath\GeneratedReport\"/>
    <add key="ReportTempatePath" value="SECOM_SharePath\ReportTemplate\"/>
    <add key="ImageSignaturePath" value="SECOM_SharePath\Image\Signature\"/>
    <add key="PaymentDataFile" value="SECOM_SharePath\PaymentDataFile\"/>
    <add key="AutoTransferFile" value="SECOM_SharePath\AutoTransferFile\"/>
    <add key="AttachFilePath" value="SECOM_SharePath\AttachedFile\Actual\"/>
    <add key="TemporaryAttachFilePath" value="SECOM_SharePath\AttachedFile\TemporaryAttachFilePath\"/>
    <add key="TemporaryPath" value="D:\TEMP_SECOM_AJIS_UAT_CUST\"/>-->
    <!-- 2016.06 modify tanaka end -->
    <!-- Suspend and Resume Prcess -->
    <add key="SuspendResumeSystemJobName" value="SuspendResumeSystem" />
    <!--SECOM Version-->
    <add key="SecomVersion" value="SECOM-SIMS Version 0.4.45.0" />
    <add key="SecomCopyright" value="Copyright © 2012 All Right Reserved" />
    <add key="ThemeMode" value="main_layout_dev.css" />
    <!-- Value: Test, Production -->
    <!--Window log-->
    <add key="EventLogName" value="Application" />
    <add key="EventSourceName" value="SECOM_AJIS web application" />
    <!-- 2016.06 modify tanaka start -->
    <add key="DOMAIN_NAME" value="intra-dc02.secom-sis.co.jp" />
    <!--<add key="DOMAIN_NAME" value="192.168.11.82"/>-->
    <!--2016.06 modify tanaka end-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="NameSignature" value="M.Nakamura" />
  </appSettings>
  <connectionStrings>
    <!--<add name="SECOM_AJIS_TESTEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.30.37.236;initial catalog=SECOM_AJIS_TEST;persist security info=True;user id=sa;password=sims_sims2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CMDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Common.csdl|res://*/SECOM_AJIS.Entity.Common.ssdl|res://*/SECOM_AJIS.Entity.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=STSY-000002;Initial Catalog=SECOM_AJIS_TEST;Persist Security Info=True;User ID=sa;Password=sims_sims2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MADataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Master.csdl|res://*/SECOM_AJIS.Entity.Master.ssdl|res://*/SECOM_AJIS.Entity.Master.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=STSY-000002;Initial Catalog=SECOM_AJIS_TEST;Persist Security Info=True;User ID=sa;Password=sims_sims2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="CTDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Contract.csdl|res://*/SECOM_AJIS.Entity.Contract.ssdl|res://*/SECOM_AJIS.Entity.Contract.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=STSY-000002;Initial Catalog=SECOM_AJIS_TEST;Persist Security Info=True;User ID=sa;Password=sims_sims2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="QUDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Quotation.csdl|res://*/SECOM_AJIS.Entity.Quotation.ssdl|res://*/SECOM_AJIS.Entity.Quotation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=STSY-000002;Initial Catalog=SECOM_AJIS_TEST;Persist Security Info=True;User ID=sa;Password=sims_sims2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ISDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Installation.csdl|res://*/SECOM_AJIS.Entity.Installation.ssdl|res://*/SECOM_AJIS.Entity.Installation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=STSY-000002;Initial Catalog=SECOM_AJIS_TEST;Persist Security Info=True;User ID=sa;Password=sims_sims2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="IVDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Inventory.csdl|res://*/SECOM_AJIS.Entity.Inventory.ssdl|res://*/SECOM_AJIS.Entity.Inventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STSY-000002;Initial Catalog=SECOM_AJIS_TEST;Persist Security Info=True;user id=sa;Password=sims_sims2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BLDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Billing.csdl|res://*/SECOM_AJIS.Entity.Billing.ssdl|res://*/SECOM_AJIS.Entity.Billing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STSY-000002;Initial Catalog=SECOM_AJIS_TEST;Persist Security Info=True;user id=sa;Password=sims_sims2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ICDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Income.csdl|res://*/SECOM_AJIS.Entity.Income.ssdl|res://*/SECOM_AJIS.Entity.Income.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STSY-000002;Initial Catalog=SECOM_AJIS_TEST;Persist Security Info=True;user id=sa;Password=sims_sims2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ERDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.ExchangeRate.csdl|res://*/SECOM_AJIS.Entity.ExchangeRate.ssdl|res://*/SECOM_AJIS.Entity.ExchangeRate.msl;;provider=System.Data.SqlClient;provider connection string=&quot;data source=STSY-000002;Initial Catalog=SECOM_AJIS_TEST;Persist Security Info=True;user id=sa;Password=sims_sims2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->


    <add name="CMDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Common.csdl|res://*/SECOM_AJIS.Entity.Common.ssdl|res://*/SECOM_AJIS.Entity.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.12.27\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MADataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Master.csdl|res://*/SECOM_AJIS.Entity.Master.ssdl|res://*/SECOM_AJIS.Entity.Master.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.12.27\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CTDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Contract.csdl|res://*/SECOM_AJIS.Entity.Contract.ssdl|res://*/SECOM_AJIS.Entity.Contract.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.12.27\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="QUDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Quotation.csdl|res://*/SECOM_AJIS.Entity.Quotation.ssdl|res://*/SECOM_AJIS.Entity.Quotation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.12.27\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ISDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Installation.csdl|res://*/SECOM_AJIS.Entity.Installation.ssdl|res://*/SECOM_AJIS.Entity.Installation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.12.27\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="IVDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Inventory.csdl|res://*/SECOM_AJIS.Entity.Inventory.ssdl|res://*/SECOM_AJIS.Entity.Inventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.12.27\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;user id=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BLDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Billing.csdl|res://*/SECOM_AJIS.Entity.Billing.ssdl|res://*/SECOM_AJIS.Entity.Billing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.12.27\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;user id=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ICDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Income.csdl|res://*/SECOM_AJIS.Entity.Income.ssdl|res://*/SECOM_AJIS.Entity.Income.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.12.27\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;user id=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ERDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.ExchangeRate.csdl|res://*/SECOM_AJIS.Entity.ExchangeRate.ssdl|res://*/SECOM_AJIS.Entity.ExchangeRate.msl;;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.12.27\SQL2014;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;user id=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />


    <!--<add name="CMDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Common.csdl|res://*/SECOM_AJIS.Entity.Common.ssdl|res://*/SECOM_AJIS.Entity.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LIBRARY01SVR;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MADataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Master.csdl|res://*/SECOM_AJIS.Entity.Master.ssdl|res://*/SECOM_AJIS.Entity.Master.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LIBRARY01SVR;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CTDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Contract.csdl|res://*/SECOM_AJIS.Entity.Contract.ssdl|res://*/SECOM_AJIS.Entity.Contract.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LIBRARY01SVR;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="QUDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Quotation.csdl|res://*/SECOM_AJIS.Entity.Quotation.ssdl|res://*/SECOM_AJIS.Entity.Quotation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LIBRARY01SVR;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ISDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Installation.csdl|res://*/SECOM_AJIS.Entity.Installation.ssdl|res://*/SECOM_AJIS.Entity.Installation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LIBRARY01SVR;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;User ID=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="IVDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Inventory.csdl|res://*/SECOM_AJIS.Entity.Inventory.ssdl|res://*/SECOM_AJIS.Entity.Inventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIBRARY01SVR;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;user id=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BLDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Billing.csdl|res://*/SECOM_AJIS.Entity.Billing.ssdl|res://*/SECOM_AJIS.Entity.Billing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIBRARY01SVR;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;user id=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ICDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Income.csdl|res://*/SECOM_AJIS.Entity.Income.ssdl|res://*/SECOM_AJIS.Entity.Income.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIBRARY01SVR;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;user id=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ERDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.ExchangeRate.csdl|res://*/SECOM_AJIS.Entity.ExchangeRate.ssdl|res://*/SECOM_AJIS.Entity.ExchangeRate.msl;;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIBRARY01SVR;Initial Catalog=SECOM_SIMS_INDO;Persist Security Info=True;user id=SECOM_SIMS_INDO;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->


    <!--
    <add name="CMDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Common.csdl|res://*/SECOM_AJIS.Entity.Common.ssdl|res://*/SECOM_AJIS.Entity.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\MSSQL2014;Initial Catalog=SECOM_AJIS;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MADataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Master.csdl|res://*/SECOM_AJIS.Entity.Master.ssdl|res://*/SECOM_AJIS.Entity.Master.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\MSSQL2014;Initial Catalog=SECOM_AJIS;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="CTDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Contract.csdl|res://*/SECOM_AJIS.Entity.Contract.ssdl|res://*/SECOM_AJIS.Entity.Contract.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\MSSQL2014;Initial Catalog=SECOM_AJIS;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="QUDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Quotation.csdl|res://*/SECOM_AJIS.Entity.Quotation.ssdl|res://*/SECOM_AJIS.Entity.Quotation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\MSSQL2014;Initial Catalog=SECOM_AJIS;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ISDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Installation.csdl|res://*/SECOM_AJIS.Entity.Installation.ssdl|res://*/SECOM_AJIS.Entity.Installation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\MSSQL2014;Initial Catalog=SECOM_AJIS;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="IVDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Inventory.csdl|res://*/SECOM_AJIS.Entity.Inventory.ssdl|res://*/SECOM_AJIS.Entity.Inventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\MSSQL2014;Initial Catalog=SECOM_AJIS;Persist Security Info=True;user id=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BLDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Billing.csdl|res://*/SECOM_AJIS.Entity.Billing.ssdl|res://*/SECOM_AJIS.Entity.Billing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\MSSQL2014;Initial Catalog=SECOM_AJIS;Persist Security Info=True;user id=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ICDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Income.csdl|res://*/SECOM_AJIS.Entity.Income.ssdl|res://*/SECOM_AJIS.Entity.Income.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\MSSQL2014;Initial Catalog=SECOM_AJIS;Persist Security Info=True;user id=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ERDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.ExchangeRate.csdl|res://*/SECOM_AJIS.Entity.ExchangeRate.ssdl|res://*/SECOM_AJIS.Entity.ExchangeRate.msl;;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\MSSQL2014;Initial Catalog=SECOM_AJIS;Persist Security Info=True;user id=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    -->
  </connectionStrings>
  <castle configSource="modules.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- <sessionState mode="InProc" cookieless="UseUri"/> -->
    <sessionState mode="InProc" timeout="60" />
    <httpRuntime maxRequestLength="102400" />
    <globalization culture="en-US" fileEncoding="utf-8" uiCulture="en-US" responseHeaderEncoding="windows-874" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!-- securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy -->
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="HtmlFileHandler" path="*.html" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <system.transactions>
    <defaultSettings timeout="1:00:00" />
  </system.transactions>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- See an error due to this section?  When targeting .NET 3.5, please add the following line to your <configSections> at the top of this file:
    <section name="uri" type="System.Configuration.UriSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    -->
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
       which is necessary for OpenID urls with unicode characters in the domain/host name. 
       It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>