@using SECOM_AJIS.Common.Helpers
@using SECOM_AJIS.Common.Util.ConstantValue
@using System.Configuration;
@{
    Layout = null;
    ViewBag.SecomVersion = ConfigurationManager.AppSettings["SecomVersion"];
    ViewBag.SecomCopyright = ConfigurationManager.AppSettings["SecomCopyright"];
}

<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link href="@Url.Content("~/Content/css/main_layout.css")" rel="stylesheet" type="text/css" />
</head>
<body><h1>404 Not Found</h1>

<script language="javascript" type="text/javascript">

    document.write(window.location.href + " was not found on this server.")
</Script>

<p></p><hr>
<small>

</small>
<div id="mixpanel" style="visibility: hidden; "></div><div id="bt_dummy" style="position: absolute; "></div>
<div class="copyright">
    @ViewBag.SecomVersion <br />
    @ViewBag.SecomCopyright
</div>
</body>
</html>
