<div class="user-info">
    <div class="lebel">Username</div>
    <div class="username">
        @ViewBag.UserName&nbsp;
        <span>@Html.ActionLink("Logout", "Logout", "Account", null, new { id = "lnkLogOut"})</span>
    </div>
</div>
<div id="scrollTop" class="scroll-top">&uArr; Top</div>
