@{
    ViewBag.Title = "News update";
}
<div><h2>News update</h2>
    <img alt="" id="systemlogo" src = "@Url.Content("~/Content/images/what_secom.jpg")" style="float: right;margin-left:10px;">
    ด้วยปณิธานมุ่งมั่นที่จะเป็นผู้นำในการปฏิรูปแนวคิดและ รูปแบบเกี่ยวกับการรักษาความปลอดภัย
    โดยมีจุดมุ่ง หมายสูงสุดในการสร้างสังคมที่เต็มไปด้วย “ความอุ่นใจ และความปลอดภัย”
    บริษัทไทยซีคอมพิทักษ์กิจจำกัด (ซีคอมประเทศไทย) ได้ให้บริการเกี่ยวกับการรักษา ความปลอดภัยแบบครบวงจรแก่สังคมไทยมาเป็นเวลา
    นานกว่า 20 ปี โดยนับตั้งแต่ก้าวแรกแห่งการเริ่มต้นเมื่อ ปี พ.ศ. 2530 โดยการร่วมทุนระหว่างเครือสหพัฒน์ฯและ
    Secom Japan บริษัทรักษาความปลอดภัยอันดับ 1 ของญี่ปุ่น ซึ่งสั่งสมประสบการณ์มายาวนานกว่า
    45 ปี จนถึงปัจจุบันเราภูมิใจในความเป็นหมายเลข 1 โดย คงไว้ซึ่งอุดมการณ์ที่ยึดมั่นและความตั้งใจที่จะสร้างสรร
    สังคมไทยให้เป็นสังคมที่เต็มไปด้วย“ความอุ่นใจ และ ความปลอดภัย” ตลอดไป
</div>
