<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor"/>
  </configSections>
  <castle/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="CMDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Common.csdl|res://*/SECOM_AJIS.Entity.Common.ssdl|res://*/SECOM_AJIS.Entity.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.118.12;Initial Catalog=SECOM_AJIS_UAT_CUST;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MADataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Master.csdl|res://*/SECOM_AJIS.Entity.Master.ssdl|res://*/SECOM_AJIS.Entity.Master.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.118.12;Initial Catalog=SECOM_AJIS_UAT_CUST;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="CTDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Contract.csdl|res://*/SECOM_AJIS.Entity.Contract.ssdl|res://*/SECOM_AJIS.Entity.Contract.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.118.12;Initial Catalog=SECOM_AJIS_UAT_CUST;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="QUDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Quotation.csdl|res://*/SECOM_AJIS.Entity.Quotation.ssdl|res://*/SECOM_AJIS.Entity.Quotation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.118.12;Initial Catalog=SECOM_AJIS_UAT_CUST;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ISDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Installation.csdl|res://*/SECOM_AJIS.Entity.Installation.ssdl|res://*/SECOM_AJIS.Entity.Installation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.118.12;Initial Catalog=SECOM_AJIS_UAT_CUST;Persist Security Info=True;User ID=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="IVDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Inventory.csdl|res://*/SECOM_AJIS.Entity.Inventory.ssdl|res://*/SECOM_AJIS.Entity.Inventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.118.12;Initial Catalog=SECOM_AJIS_UAT_CUST;Persist Security Info=True;user id=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BLDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Billing.csdl|res://*/SECOM_AJIS.Entity.Billing.ssdl|res://*/SECOM_AJIS.Entity.Billing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.118.12;Initial Catalog=SECOM_AJIS_UAT_CUST;Persist Security Info=True;user id=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ICDataEntities" connectionString="metadata=res://*/SECOM_AJIS.Entity.Income.csdl|res://*/SECOM_AJIS.Entity.Income.ssdl|res://*/SECOM_AJIS.Entity.Income.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.118.12;Initial Catalog=SECOM_AJIS_UAT_CUST;Persist Security Info=True;user id=sa;Password=SQL@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
  <appSettings>
    <add key="ConstantFile" value=".\ConstantValues.config"/>

    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--send email process-->
    <add key="UseGmailSmtp" value="1"/>
    <add key="SmtpHost" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="AuthenticateUserName" value="secomajis@gmail.com"/>
    <add key="AuthenticatePassword" value="secomp@$$w0rd"/>
    <!--<add key="UseGmailSmtp" value="0" />
    <add key="SmtpHost" value="192.168.11.12" />
    <add key="SmtpPort" value="25" />
    <add key="AuthenticateUserName" value="nontawat@csithai.com" />
    <add key="AuthenticatePassword" value="" />-->
    <add key="SECOM_SENDER" value="99901@secom.co.th"/>
    <add key="SECOM_SENDER_ALIAS" value="SECOM_AJIS"/>

    <!--Foxit Reader-->
    <add key="PrintPDFFoxit" value="C:\Users\non\Documents\Projects\SECOM_AJIS\vss_cust\SRC_ASP_MVC\SECOM_AJIS\SECOM_AJIS.JobScheduler\DLL\FoxitReaderPortable\FoxitReaderPortable.exe"/>
    <add key="PrinterName" value="FX DocumentCentre 286 PCL 6"/>
    <add key="PrintTimeOut" value="60000"/>

    <!--Path Util-->
    <add key="RootPath" value="\\192.168.118.13\FileServer$\"/>
    <add key="GeneratedReportPath" value="SECOM_SharePath\GeneratedReport\"/>
    <add key="ReportTempatePath" value="SECOM_SharePath\ReportTemplate\"/>
    <add key="ImageSignaturePath" value="SECOM_SharePath\Image\Signature\"/>
    <add key="PaymentDataFile" value="SECOM_SharePath\PaymentDataFile\"/>
    <add key="AutoTransferFile" value="SECOM_SharePath\AutoTransferFile\"/>
    <add key="AttachFilePath" value="SECOM_SharePath\AttachedFile\Actual\"/>
    <add key="TemporaryAttachFilePath" value="SECOM_SharePath\AttachedFile\TemporaryAttachFilePath\"/>

    <add key="TemporaryPath" value="C:\TEMP_SECOM-AJIS-UAT-CUST\"/>
    <add key="pdftk" value="DLL\pdftk.exe"/>
    
    <!-- Suspend and Resume Prcess -->
    <add key="SuspendResumeSystemJobName" value="SuspendResumeSystem"/>

    <!--SECOM Version-->
    <add key="SecomVersion" value="SECOM-SIMS Job Scheduler Version 1.0.0.0 (DEV)"/>
    <add key="SecomCopyright" value="Copyright © 2014 All Right Reserved"/>

    <!--Window log-->
    <add key="EventLogName" value="Application"/>
    <add key="EventSourceName" value="SECOM_AJIS web application"/>
  </appSettings>


  <system.transactions>
    <defaultSettings timeout="1:00:00"/>
  </system.transactions>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
